In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

In [4]:
df = pd.read_csv('../Datasets/Social_Network_Ads.csv')

In [7]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [6]:
df = df.iloc[:,2:]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Purchased', axis=1),
                                                    df['Purchased'],
                                                    test_size=0.3,
                                                    random_state=0)

X_train.shape, X_test.shape

((280, 2), (120, 2))

#Standardization
Standardization, also known as feature scaling or normalization, is a preprocessing step that involves rescaling the features of a dataset to have zero mean and unit variance. In the context of the k-nearest neighbors (KNN) algorithm, standardization can have a significant impact on the algorithm's performance.

The KNN algorithm relies on the notion of distance between data points to make predictions. The most common distance metric used in KNN is the Euclidean distance. 

If the features have different scales, the contribution of each feature to the Euclidean distance will be dominated by the features with larger scales. As a result, the algorithm might give more importance to certain features simply because they have larger magnitudes, even if they are not more informative.

In [11]:
scaler = StandardScaler()

# fit the scaler to the train set, it will learn the parameters
scaler.fit(X_train)

# transform train and test sets
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
scaler.mean_

array([3.78642857e+01, 6.98071429e+04])

In [14]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [19]:
np.round(X_train_scaled.describe(),3)

           Age  EstimatedSalary
count  280.000          280.000
mean     0.000            0.000
std      1.002            1.002
min     -1.947           -1.585
25%     -0.771           -0.775
50%     -0.085            0.020
75%      0.798            0.526
max      2.170            2.319